{% extends 'admin/change_form.html' %}


{% load static %}




{% block field_sets %}
{% for fieldset in adminform %}
    {% if fieldset.name is None %}
  {% include "admin/includes/fieldset.html" with heading_level=2 prefix="fieldset" id_prefix=0 id_suffix=forloop.counter0 %}
    {% endif %}
{% endfor %}
{% endblock %}
    {{ block.super }}

{% block after_related_objects %}

{% for fieldset in adminform %}
    {% if fieldset.name %}
  {% include "admin/includes/fieldset.html" with heading_level=2 prefix="fieldset" id_prefix=0 id_suffix=forloop.counter0 %}
    {% endif %}
{% endfor %}


{% endblock %}

   {{ block.super }}



{% block admin_change_form_document_ready %}


     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Ваш основной скрипт -->
    <script>


$(document).ready(function() {

    // Клик по кнопкам при загрузке страницы
$('#product_order-heading').click();
$('#second_product_orders-heading').click();

// Попробуйте увеличить задержку, если элемент создается асинхронно
setTimeout(function() {
    // Проверка на мобильные устройства через user agent
    var isMobile = /Mobi|Android/i.test(navigator.userAgent);
    if (!isMobile) {  // Если устройство не мобильное
        var $select2Input = $('.select2-selection--single:first');
        if ($select2Input.length > 0) {
            $select2Input.focus();
            // Проверка на наличие атрибута title у элемента с id="select2-id_client-container"
            var $container = $('#select2-id_client-container');
            if ($container.length > 0) {
                if (!$container.attr('title')) {
                    var event = new KeyboardEvent('keydown', {
                        'key': 'Enter',
                        'code': 'Enter',
                        'keyCode': 13,
                        'which': 13,
                        'bubbles': true,
                        'cancelable': true
                    });
                    $select2Input[0].dispatchEvent(event);
                }
            }
        }
    }
}, 500);




    // Задержка в 500 миллисекунд

    // Установка фокуса на все input[type="number"] и выделение текста
    $('input[type="number"]').on('focus', function() {
        $(this).select();
    });

    // Удаление всех h1 элементов внутри контейнера с id "content"
    $('#content h1').remove();

    // Удаление label элементов из первого элемента с классом 'field-message_for_order'
    var $firstMessageField = $('.field-message_for_order').first();
    if ($firstMessageField.length > 0) {
        $firstMessageField.find('label').remove();
    }

    // Удаление label элементов из первого элемента с классом 'form-row field-first_message field-second_message'
    var $messageFields = $('.form-row.field-first_message.field-second_message').first();
    if ($messageFields.length > 0) {
        $messageFields.find('label').remove();
    }

    // Обновление href атрибута ссылки на основе значения поля поиска
    var $addClientLink = $('#add_id_client');
    var oldHref = $addClientLink.attr('href');
    $(document).on('input', '.select2-search__field', function() {
        var searchValue = $(this).val();
        var phonePattern = /^\d{10,11}$/;
        if (phonePattern.test(searchValue)) {
            $addClientLink.attr('href', oldHref + "&phone=" + searchValue);
        } else {
            $addClientLink.attr('href', oldHref + "&fio=" + searchValue);
        }
    });

    // Перемещение кнопки с id 'change_id_client' внутрь контейнера с классом 'related-widget-wrapper'
    var $relatedWidgetWrapper = $('.related-widget-wrapper').first();
    var $changeClientButton = $('#change_id_client');
    $relatedWidgetWrapper.append($changeClientButton);

    // Обработка фокуса на элементах с классом .select2-selection--single
    $(document).on('focus', '.select2-selection--single', function() {
        var $select2Container = $('#select2-id_client-container');
        if ($select2Container.length > 0 && !$select2Container.attr('title')) {
            // Эмуляция нажатия клавиши Enter
            var e = new KeyboardEvent('keydown', {
                bubbles: true,
                cancelable: true,
                key: 'Enter',
                code: 'Enter',
                keyCode: 13,
                charCode: 0
            });
            document.dispatchEvent(e);
        }
    });

        $('.historylink').each(function() {
        $(this).attr('href', '/admin/orders/order/combined-history/{{ original.pk }}/');});


});
</script>


     <style>
        /* Стили для select2 элементов */
        .select2 {
            width: 100%;
        }

        /* Стили для readonly полей */
        .readonly {
            width: 100%;
        }

        /* Стили для строк формы с первым и вторым сообщением */
        .form-row.field-first_message.field-second_message > div {
            flex-wrap: nowrap;
            justify-content: flex-start;
        }

        /* Стили для первого и второго блока внутри формы заказа */
        #order_form > div > fieldset:nth-child(1) > div.form-row.field-first_message.field-second_message > div > div:nth-child(1) {
            width: 50%;
        }

        #order_form > div > fieldset:nth-child(1) > div.form-row.field-first_message.field-second_message > div > div:nth-child(2) {
            width: 50%;
        }

        /* Стили для сообщений заказа в режиме только для чтения */
        .field-message_for_order .readonly {
            color: rgba(255, 0, 0, 0.49);
            text-align: center;
            font-weight: bolder;
            font-size: large;
        }

        /* Стили для заголовков уровня 2 */
        h2 {
            color: red;
            font-size: 2em;
        }

        /* Стили для групповых элементов в форме */
        .inline-group .tabular tr.has_original td {
            padding-top: 0.5em;
        }

        /* Стили для оригинальных значений в групповых элементах */
        .inline-group .tabular td.original p {
            font-size: small;
        }

        /* Стили для полей ввода в группе заказа */
        #product_order-group .aligned input {
            width: 100px;
        }

        /* Стили для больших текстовых полей */
        .vLargeTextField,
        .vXMLLargeTextField {
            width: 18em ;  /* Ширина */
            height: 7.5em ; /* Высота */
            resize: none; /* Отключаем возможность изменения размера */
        }

        #id_comment {
            width: 100%;
            height: 2.5em;
        }
        
        

        /* Стили для выбора множественных значений */
        select[multiple] {
            height: auto;
            min-height: 8em;
        }

        /* Стили для суммы заказа в первой форме */
        #order_form > div > fieldset:nth-child(1) > div.form-row.field-order_sum > div > div > div {
            font-weight: bold;
        }

        /* Медиазапрос для маленьких экранов */
        @media (max-width: 1024px) {
            #product_order-group .aligned input {
                width: 99.5%;
            }
            #id_comment {
            width: 100%;
            height: 7em;
        }
        }

        /* Медиазапрос для очень маленьких экранов */
        @media (max-width: 767px) {
            .related-widget-wrapper {
                flex-wrap: wrap-reverse;
            }
        }
    </style>




{{ block.super }}




{% endblock %}